.bigcontainer{
    width: 150px;
    height: 155px;
    border: 2px solid black;
    margin-top: 20px;
   

    
}

.brown{
    background-color:blue;
    width: 150px;
    height: 90px;
}

.p1{
    font-family:'Times New Roman', Times, serif;
    font-size:medium;
}


.red{
    background-color: red;
    width: 150px;
    height: 90px;
}

.nav1{
    display: flex;
    background-color: green;
    justify-content: space-between;
    padding: 5px;
    height: 50px;

}

.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav3{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    
}

.logo{
    border: 2px solid white;
    border-radius: 25px;
}


.blue{
    background-color: yellow;
    width: 150px;
    height: 90px;
}


.indigo{
    background-color:  orange;
    width: 150px;
    height: 90px;
}
